common/Release
graphics/Release
ipch
Debug
Release
test/Release
system/Release
lua/Release
test/test.lua
audio/Release
graphics/Debug
audio/Debug
lua/Debug
test/Debug
common/Debug
system/Debug
samples/pong/Debug
samples/pong/Release
samples/Release
samples/Debug
samples/ipch
*.sdf
*.opensdf
*.suo
*.user